:root {
  /* Color Palette */
  --purple:#8e44ad;
  --color-neutral-950: #030213;

  /* Background Colors */
  --bg-white: #ffffff;

  /* Text Colors */
  --text-primary: #030213;

  /* Border Radius */
  --radius-sm: 8px;
  --radius-md: 10px;

  /* Typography */
  --font-family-base: 'Arimo', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

/*Header*/
header {
  z-index: 1000;
  position: relative;
  background-color: var(--bg-white);
}

header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
}

header .logo{
  font-size: 26px;
  color:var(--purple);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  margin-left: 20px;
}

header .icons{
  display: flex;
  align-items: center;
  gap: 20px;
}

header .icons a {
  font-size: 20px;
  color:var(--text-primary);
  text-decoration: none;
  transition: 0.3s ease;
}

header .icons a:hover,
header .icons a:active{
   color:var(--purple);
}

.owner_access {
  background: #FFF176;
  color: #6D4C41;
  padding: 4px 8px;
  border-radius: var(--radius-md);
  font-size: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s ease;
  }

  .owner_access:hover {
  background-color: #FFD54F;
  }

/*Navbar*/
.navbar ul {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.navbar li a{
  float: left;
  color: var(--color-neutral-950) ;
  font-weight: var(--font-weight-bold);
  font-size:  15px;
  text-decoration: none;
  padding:6px 8px;
  margin-bottom: 0px;
}

.navbar ul li a:hover,
.navbar ul li a:active {
  color:var(--purple);
  text-decoration: underline;
}

/*Icons*/ 
.icons{
  margin-right: 10px; 
  padding-bottom: 6px;
  display: flex;
}
